.btn-primary {

    background: linear-gradient(45deg,rgb(180, 84, 84),black)
}
    
.bg-warningg {

    background: linear-gradient(45deg,rgb(221, 253, 36),black)
}

.bg-warning{

    background: linear-gradient(45deg,rgb(69, 24, 194),black)
}


.bg-dark {

    background: linear-gradient(45deg,rgb(57, 28, 161),black)
}

.nav-styling {

    background: linear-gradient(45deg,rgb(141, 62, 26),black)
}

.btn-btn-warning {
    background: linear-gradient(45deg,rgb(177, 47, 97),black)

}

.bg-primary {
    background: linear-gradient(45deg,rgb(201, 26, 35),black)

}